/.qmake.stash
/CMakeCache.txt
/CMakeFiles/
/CMakeLists.txt.user
/Makefile
/cmake_install.cmake
/main.o
/project
/project.pro.user
/bound_calculator
/changes.cpp
/html/
/latex/
/TODO
/*.swp
/problem.pbl
/scheduled.pbl
/problem1.pbl
/problem1.pbl.png
